.color_98bfff{
  background-color: #98bfff;
  border-radius: 0.5rem;
  border-color: #000000;
}

.color_98bfff:active{
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
}

.black{
  color: #ffffff;
  background-color: #000000;
  border-radius: 0.5rem;
  border-color: #000000;
}
.black:active{
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
}