body{
  width:1366px;
  height:768px;
}

.indexButton{
  width:100px;
  height:40px;
  font-size: 15pt;
  color: #ffffff;
  background-color: #000000;
  border-radius: 0.5rem;
  border-color: #000000;
}

.indexButton:active{
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
}

input{
  width: 100px;
  height:20px;
}