.searchIndex{
  margin-top: 15px;
}

.searchItems{
  text-align: center;
}

.searchItem{
  height: 65px;
  justify-content: center;
}

.simpleButton{
  width:200px;
  height:40px;
  font-size: 15pt;
  color: #ffffff;
  background-color: #000000;
  border-radius: 0.5rem;
  border-color: #000000;
}

.simpleButton:active{
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
}