div{
  margin: 15px;
}


.userMatch_text{
  width:200px;
  height:25px;
  font-size:15pt;
  text-align: left;
  border-radius: 0.4rem;
}

.userMatch_date{
  width:202px;
  height:25px;
  font-size:15pt;
  text-align: left;
  border-radius: 0.4rem;
}

.userMatch_lookup{
  width:100px;
  height:40px;
  font-size: 15pt;
  color: #ffffff;
  background-color: #000000;
  border-radius: 0.5rem;
  border-color: #000000;
}

.userMatch_lookup:active{
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
}

.userMatch_lookup_test{
  width:200px;
  height:40px;
  font-size: 15pt;
  color: #ffffff;
  background-color: #000000;
  border-radius: 0.5rem;
  border-color: #000000;
}

.userMatch_lookup_test:active{
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
}


.matchResult{
  width:1024px;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid red;
}

.userNickname{
  width:1000px;
  height:100px;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid blue;
  text-align: center;
}

.nickname{
  font-size:25pt;
  margin: 25px;
}


.speedIndi{
  width:1000px;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid blue;
}

.speedIndiDetail{
  width:900px;
  height:100px;
  display:inline-block;
  background-color: #f1f1f1;
  border: 1px solid #000000;
}

.detailInfo{
  display:flex;
  justify-content: space-around;
  background-color: #b4b4b4;
  border: 1px solid red;
}

.detailEle{
  width:200px;
  height:50px;
  background-color: #ffffff;
  line-height: 50px;
  border: 1px solid blue;
  font-size: 10pt;
}

.detailRank{
  width:200px;
  height:50px;
  background-color: #ffffff;
  line-height: 50px;
  border: 1px solid blue;
  font-size: 13pt;
}

.detailTrack{
  width:200px;
  height:50px;
  background-color: #ffffff;
  line-height: 50px;
  border: 1px solid blue;
  font-size: 10pt;
}

/*

._speedIndiDetailInfo {
        border: 1px solid red;
        display: flex;
        justify-content: space-between;
      }
      ._speedIndiDetailEle {
        border: 1px solid blue;
        margin: 1rem;
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
*/