<!DOCTYPE html>
<html>
  <head>
    <title>Index Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <h2>카트라이더 API</h2>
    <form method="GET" action="/userInfo">
      <div>
        <h3>라이더 명을 이용한 라이더 간단 정보 조회</h3>
        <button>Click</button>
      </div>
    </form>

    <form method="GET" action="/userMatch">
      <div>
        <h3>라이더 명을 이용한 라이더 매치 조회</h3>
        <button>Click</button>
      </div>
    </form>

  </body>
</html>