<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <h2>Login page</h2>
    <form method="POST" action="/put">
      <div class="login">
        <div class="inputForm">
          <p>ID</p>
          <input type="text" name="userID">
        </div>
        <div class="inputForm">
          <p>PW</p>
          <input type="password" name="userPW">
        </div>
        <div class="inputForm">
          <input type="submit" value="확인">
        </div>
      </div>
    </form>
  </body>
</html>