<!DOCTYPE html>
<html>
  <head>
    <title>RiderInfo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/upper.css">
  </head>
  <body>
    <div>
      <div class="searchIndex">
        <div class="searchItems">
          <div class="searchItem">
            <form method="GET" action="/userInfo">
              <div>
                <button class="simpleButton">유저 간단 정보 조회</button>
              </div>
            </form>
          </div>
          <div class="searchItem">
            <form method="GET" action="/userMatch">
              <div>
                <button class="simpleButton">유저 대전 정보 조회</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>