<!DOCTYPE html>
<html>

<head>
  <title>RiderMatch</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/css/userMatch.css">
  <script src="/js/userMatch.js"></script>
</head>

<body>
  <h2>라이더 명을 이용한 매치 정보 조회</h2>
  <form method="GET" action="/userMatch/nickname">
    <div>
      <p>닉네임 입력</p>
      <input type="text" class="userMatch_nickname" name="nickname">
    </div>
    <div>
      <p>시작 날짜</p>
      <input type="date" class="userMatch_start_date" name="start_date">
    </div>
    <div>
      <p>종료 날짜</p>
      <input type="date" class="userMatch_end_date" name="end_date">
    </div>
    <div>
      <p>조회 수</p>
      <input type="text" class="userMatch_limit" name="limit">
    </div>
    <div>
      <input type="submit" class="userMatch_lookup" value="조회">
    </div>
  </form>
  
  <form method="GET" action="/userMatch/nickname">
    <div>
      <input readonly type="text" id="testNickname" class="userMatch_nickname" name="nickname" value="R팍이">
    </div>
    <div>
      <input readonly type="date" id="testStartDate" class="userMatch_start_date" name="start_date" value="2021-09-05">
    </div>
    <div>
      <input readonly type="date" id="testEndDate" class="userMatch_end_date" name="end_date" value="2021-09-07">
    </div>
    <div>
      <input readonly type="text" id="testLimit" class="userMatch_limit" name="limit" value="35">
    </div>
    <div>
      <input type="submit" class="userMatch_lookup_test" value="테스트 데이터 삽입">
    </div>
  </form>

  
  <table>
    <th>캐릭터</th>
    <th>맵이름</th>
  </table>

  <div id="matchResult">
    <div id="speedIndi"></div>
    <div id="speedTeam"></div>
  </div>
</body>

</html>