<div>
  <div class="inputFormOuter">
    <div class="inputFormInner">
      <input type="text" id="nickname_fetch" class="userInfo_nickname" name="nickname" placeholder="카트라이더 닉네임 입력"
        onkeyup="inputEnter()">
      <button class="buttonUserInfo" onclick="getFetch()">조회하기</button>
    </div>
  </div>


  <div class="searchResultOuter">
    <div class="searchResultInner" id="searchResult">

    </div>
  </div>
</div>

</div>