<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/userInfo.js"></script>
  </head>
  <body>
    <h2>라이더 명을 이용한 라이더 정보 조회</h2>
    <form method="GET" action="/userInfo/nickname">
      <div>
        <input type="text" name="nickname" placeholder="닉네임 입력">
        <input type="submit" value="조회">
      </div>
    </form>
  </body>
</html>