<!DOCTYPE html>
<html>

<head>
  <title>RiderInfo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/css/userInfo.css">
  <script src="/js/userInfo.js"></script>
</head>

<body>
  <div class="main">
    <div>
      <img src="/images/logo.png" class="logo">
    </div>

    <div class="horizontal_in">
      <div class="leftLayout">
        <%-include('upper.html') %>
      </div>

      <div class="rightLayout">
        <div>
          <div class="inputFormOuter">
            <div class="inputFormInner">
              <input type="text" id="nickname_fetch" class="userInfo_nickname" name="nickname" placeholder="카트라이더 닉네임 입력"
                onkeyup="inputEnter()">
              <button class="buttonUserInfo" onclick="getFetch()">조회하기</button>
            </div>
          </div>
          
  
          <div class="searchResultOuter">
            <div class="searchResultInner" id="searchResult">
  
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="nexonMention">
      Data based on NEXON DEVELOPERS
    </div>

  </div>

</body>

</html>